/*** Resets ***/


/*** Layout ***/
body.basicLayout{
    display:grid;
    grid-template-columns: auto;
    grid-column-gap: 3px;
    grid-row-gap: 10px;
    grid-template-areas: "topnav topnav topnav"
                         "leftnav header rightnav"
                         "leftnav main rightnav"
                         "leftnav footer rightnav"
}

nav.top {
    grid-area: topnav;
}

nav.left {
    grid-area: leftnav;
    /*grid-area: 2 / 1 / 5 / 2;*/
}

nav.right {
    grid-area: rightnav;
    /*grid-area: 2 / 3 / 5 / 4;*/
}

main>header {
    grid-area: header;
}
main>article {
    grid-area: main;
}
main>footer {
    grid-area: footer;
}

/*** Components ***/

/* Menu */
nav ul {
  list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.top ul {
    flex-direction: row;
    flex-wrap: nowrap; /* except for smaller screens */
    justify-content: space-between;
}

.left ul, .right ul {
    flex-direction: column;
}


/*** Asthetics ***/

/* Menu */
nav.top, nav.left, nav.right {
    padding: 10px;    
}

nav.top a, nav.left a, nav.right a {
    text-decoration: none;
    color: #1950bf;
}

nav.top {
    background-color:#ddd;    
    font-size: 25px;
}
nav.left, nav.right {
    background-color:#ddd;    
    font-size: 18px;
}
nav.left li, nav.right li {
    padding: 5px 0;
}

/* Content - Header, Main, Footer */
header { position: relative;}
header img {
    float: left;
    max-width: 150px;
    border: 4px double #eee;
    border-radius: 10px;
    margin-right: 15px;
}
header h1 {
    font-size: 2.2em;
}

header p {
    font-style: italic;
    font-size: 1.15rem
}

main h1 {
    font-size: 1.8em;
}

/*** Functional ***/
.hide { display: none; }

